@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ArgumentException</title>
</head>
<body>
    <h2>ArgumentException</h2>
</body>
</html>
