@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>Примеры с сайта metanit.com</p>

<p><a href="https://metanit.com/sharp/mvc5/">Руководство по ASP.NET MVC 5</a></p>

<h3>Глава 3. Контроллеры</h3>
<p>Пример реализации IController: <a href="/Custom">CustomController</a></p>

<p>Передача параметров: @Html.ActionLink("Площадь треугольника", "TriangleSquare", new { a = 10, h = 7 })</p>
<p>Получение параметров из запроса: @Html.ActionLink("Площадь прямоугольника", "Square", new { a = 5, b = 4 })</p>

<p>Свой результат действия: @Html.ActionLink("CustomActionResult", "CustomActionResult")</p>
